.btn-info {
  background-color: lightsteelblue;
  max-width: 50px;
  text-align: center;
  color: white;
  font-size: 11px;
}

.row {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  flex-direction: row;
}

.row .btn-info {
  margin-left: auto;
}