button.custom-btn {
  width: 100%;
  background-color: lightskyblue;
  color: white;
  font-size: 12px;
  margin: 25px 0 20px 0;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

button.custom-btn.no-margin {
  margin: 0;
}

button.custom-btn.custom-btn--gray {
  max-width: 75%;
  background-color: #cacaca;
}

button.custom-btn.custom-btn--yellow {
  background-color: orange;
}

button.custom-btn.custom-btn--social {
  background-color: white;
  color: #000;
  border: 1px solid #cacaca;
  border-radius: 5px;
}

img.social-media-link {
  margin-right: 5px;
}